*{
  box-sizing: border-box;
}

:root {
  font-family: 'Oswald', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* oswald-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/oswald-v53-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* oswald-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/oswald-v53-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}



a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  font-family: 'Oswald', system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.meme{
  width: 100%;
  max-width: 500px;
}


.memeText{
  font-size: 25px;
  display: inline-block;
  position: absolute;
  max-width: 400px;
  top: 30px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto; 
  /* text-shadow: 1px 1px 0px rgba(0, 0, 0, 1),
            -1px -1px 0px rgba(0, 0, 0, 1),
            1px -1px 0px rgba(0, 0, 0, 1),
            -1px 1px 0px rgba(0, 0, 0, 1); */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 1),
            -1px -1px 2px rgba(0, 0, 0, 1),
            1px -1px 2px rgba(0, 0, 0, 1),
            -1px 1px 2px rgba(0, 0, 0, 1);            
  word-break: break-word;
  max-width: 80%;
}

.memeText.bottom{
  top: inherit;
  bottom: 30px;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


